@tailwind base;
@tailwind components;
@tailwind utilities;

/* dark default */
html, body {
  background-color: #000;
  color: #e5e7eb;
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

#root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}